.image {
	width: 100vw;
	height: 40vh;
}
.intro {
	height: 25vh;
	padding: 15px;
}
.actors {
	height: 20vh;
}
.photos {
	height: 20vh;
	padding: 10px;
}
.buy-ticket{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 49px;
	background-color: #ff5f16;
	line-height: 49px;
	color: #FFFFFF;
}